@tailwind base;
@tailwind components;
@tailwind utilities;

/* change color of all scrollbars */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #575757;
}

::-webkit-scrollbar-thumb {
  background: #2e2e2e;
}


::-webkit-scrollbar-thumb:hover {
  background: #212121;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}
